/* box_info_data.css */

.small-box.bg-info.info-box-uji {
    background-image: url("../box_info_image/uji_bg.jpg");
    background-size: cover; /* You can adjust the value to 'contain' or use specific dimensions like '100px 200px' */
    /* Add additional styles for the first info box if needed */
}

.info-box-uji .info-box-text-uji {
    font-size: 14px; /* You can adjust the value as needed */
}

/* Add custom styles to create gap after the heading */
.info-box-uji p:first-child {
    margin-top: 60px;
}

/* Add custom styles to remove gaps between the lines and make the text regular */
.info-box-uji p {
    margin: 0;
    line-height: 1.5;
}

/* ////// */

.small-box.bg-info.info-box-gedung {
    background-image: url("../box_info_image/masjid_bg.jpg");
    background-size: cover; /* You can adjust the value to 'cover' or use specific dimensions like '100px 200px' */
    /* Add additional styles for the second info box if needed */
}

.info-box-gedung .info-box-text-gedung {
    font-size: 14px; /* You can adjust the value as needed */
}

/* Add custom styles to create gap after the heading */
.info-box-gedung p:first-child {
    margin-top: 60px;
}

/* Add custom styles to remove gaps between the lines and make the text regular */
.info-box-gedung p {
    margin: 0;
    line-height: 1.5;
}

/* ////// */

.small-box.bg-info.info-box-ruangan {
    background-image: url("../box_info_image/ruangan_bg.jpg");
    background-size: cover; /* You can adjust the value to 'cover' or use specific dimensions like '100px 200px' */
    /* Add additional styles for the second info box if needed */
}

.info-box-ruangan .info-box-text-ruangan {
    font-size: 14px; /* You can adjust the value as needed */
}

/* Add custom styles to create gap after the heading */
.info-box-ruangan p:first-child {
    margin-top: 60px;
}

/* Add custom styles to remove gaps between the lines and make the text regular */
.info-box-ruangan p {
    margin: 0;
    line-height: 1.5;
}

/* ////// */

.small-box.bg-info.info-box-madrasah {
    background-image: url("../box_info_image/madrasah_bg.jpg");
    background-size: cover; /* You can adjust the value to 'cover' or use specific dimensions like '100px 200px' */
    /* Add additional styles for the second info box if needed */
}

.info-box-madrasah .info-box-text-madrasah {
    font-size: 14px; /* You can adjust the value as needed */
}

/* Add custom styles to create gap after the heading */
.info-box-madrasah p:first-child {
    margin-top: 30px;
}

/* Add custom styles to remove gaps between the lines and make the text regular */
.info-box-madrasah p {
    margin: 0;
    line-height: 1.5;
}

/* ////// */

.small-box.bg-info.info-box-bidang_khodim {
    background-image: url("../box_info_image/bidang_khodim_bg.jpg");
    background-size: cover; /* You can adjust the value to 'cover' or use specific dimensions like '100px 200px' */
    /* Add additional styles for the second info box if needed */
}

.info-box-bidang_khodim .info-box-text-bidang_khodim {
    font-size: 14px; /* You can adjust the value as needed */
}

/* Add custom styles to create gap after the heading */
.info-box-bidang_khodim p:first-child {
    margin-top: 30px;
}

/* Add custom styles to remove gaps between the lines and make the text regular */
.info-box-bidang_khodim p {
    margin: 0;
    line-height: 1.5;
}

/* ////// */

.small-box.bg-info.info-box-khodim_dkm {
    background-image: url("../box_info_image/khodim_dkm_bg.jpg");
    background-size: cover; /* You can adjust the value to 'cover' or use specific dimensions like '100px 200px' */
    /* Add additional styles for the second info box if needed */
}

.info-box-khodim_dkm .info-box-text-khodim_dkm {
    font-size: 14px; /* You can adjust the value as needed */
}

/* Add custom styles to create gap after the heading */
.info-box-khodim_dkm p:first-child {
    margin-top: 30px;
}

/* Add custom styles to remove gaps between the lines and make the text regular */
.info-box-khodim_dkm p {
    margin: 0;
    line-height: 1.5;
}
