/* background image */

.khodim-dkm-card {
    position: fixed;
    background-image: url("../name_tag/khodim_name_tag.jpg");
    background-size: cover;
    width: 100mm;
    height: 150mm;
    /* Center the content vertically and horizontally */
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

.card-body {
    position: fixed;
    /* Make the card body transparent so that the background image of the card is visible through it */
    background-color: transparent;
}

/* content */

.Foto_Khodim img {
    position: fixed;
    /* Apply styles to the image if needed */
    width: 110px;
    /* Additional styles for the image */

    margin-top: 33px; /* Increase this value to move the div down */
    margin-bottom: 0px; /* Increase this value to move the div up */
    margin-left: 108px; /* Increase this value to move the div to the right */
    margin-right: 0px; /* Increase this value to move the div to the left */
}

#khodim_dkm_table {
    margin-top: 150px; /* Increase this value to move the div down */
    margin-bottom: 0px; /* Increase this value to move the div up */
    margin-left: 0px; /* Increase this value to move the div to the right */
    margin-right: 0px; /* Increase this value to move the div to the left */
}

#Nama_Khodim th {
    color: #1705b0;
}

#Kode_Khodim {
    color: #2e2e2e;
}

#button_download {
    position: fixed;
    margin-top: 550px; /* Increase this value to move the div down */
    margin-bottom: 0px; /* Increase this value to move the div up */
    margin-left: 160px; /* Increase this value to move the div to the right */
    margin-right: 0px; /* Increase this value to move the div to the left */
}
